body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}


/* Event Heading start  */
.eventHeading{
    text-align: center;
    color: aqua;
    font-size: 18px;
}
/* Event Heading Ended  */


/* Event Day Links Start   */
.eventDays{
    border: 1px dotted black;
    margin: 25px 25px;
    overflow: auto;
}

    /* Event Links START*/

.eventLink{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin: 0px 10px ;
    width: 20%;
    float: left;
    
}

.eventLink a{
    text-align: center;
    text-decoration: none;
}

.eventLink a:hover{
    background-color: aqua;
}

.eventLink a h2{
    color: black;
}

.eventLink a p{
    color: gray;
}

.eventDay1{
    margin-left: 250px;
}

    /* Event Links END */

/* Event Day Links Start   */

/* -------------------------------------------------------  */

/* EVENT DETAILS CONTAINER START  */
.eventDetail{
    /* border: 3px solid yellow; */
    margin: 25px 25px;
    overflow: auto;
    width: 97%;
    box-sizing: border-box;
}

    /* Icon Container Start */

.iconContainer1 p , .iconContainer2 p{
    display: inline-block;
}

.iconContainer1 , .iconContainer2 {
    padding-left: 15px;
}
.eventSeprateDetail{
    /* border: 2px solid purple; */
    border-bottom: 1px dashed gray;
    border-top: 1px solid black;
    width: 30%;
    float: left;
}

.iconContainer{
    width: 221px;
    height: 102px;

}

.headingContainer{
    width: 600px;
    height: 102px;
}





.headingContainer h3{
    padding-left: 19px;
    color: red;
}

.redBg{
    color: black;
    text-decoration:none;
    
}
.redBg:hover{
    color: red;

}
.buttonContainer{
    width: 500px;
    height: 102px;
    text-align: center;


}

.content{
    width: 975px;
    
}


.buttonContainer .moreInfo{
    text-decoration: none;
    width: 100px;
    background-color: aqua;
    line-height: 95px;
    
}
.buttonContainer a{
    padding: 10px 35px 10px 35px;
    font-weight: bold;
    color: black;
}

.buttonContainer a:hover{
    background-color: rgb(119, 202, 202);
}


/* --------------  hidden ------  */

#eventDayTwo{
    display: none;
}

#eventDayThree{
    display: none;
}


/* More info hidden */

#con1{
    display: none;
}

#con2{
    display: none;
}

#con3{
    display: none;
}

#con4{
    display: none;
}

#con5{
    display: none;
}

#con6{
    display: none;
}

#con7{
    display: none;
}

#con8{
    display: none;
}

#con9{
    display: none;
}

#buttonA2{
    display: none;
}

#buttonB2{
    display: none;
}

#buttonC2{
    display: none;
}

#buttonD2{
    display: none;
}

#buttonE2{
    display: none;
}

#buttonF2{
    display: none;
}

#buttonG2{
    display: none;
}

#buttonH2{
    display: none;
}

#buttonI2{
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------- */

                                        /* -- footer --  */

/* ------------------------------------------------------------------------------------------------------------- */

footer{
    position: relative;
    width: 86.8%;
    height: auto;
    padding: 50px 100px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-left: 100px; */
}

footer .footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

footer .footerContainer .sec{
    margin-right: 30px;
}

footer .footerContainer .sec.aboutUs{
    width: 40%;
}

footer .footerContainer h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;

}

footer  h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: aqua;
}

footer p{
    color: #999;
}


.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
    background-color: aqua;
}

.sci li a .fa{
    color: #fff;
    font-size: 20px;
}


.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: aqua;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
    list-style: none;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color:  #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover{
    color: aqua;
}

.copyRight{
    width: 100%;
    background-color: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px){
    footer{
        padding: 40px;
    }

    footer .footerContainer{
        flex-direction: column;
    }

    footer .footerContainer .sec{
        margin-right: 0;
        margin-bottom: 40px;

    }

    footer .footerContainer .sec.aboutUs , .quickLinks , .contact{
        width: 100%;
    }

    .copyRight{
        padding: 8px 40px;
    }
}

